<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>
</head>

<body>

  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

          <form (ngSubmit)="onSubmit(auth)" #form="ngForm">
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Login</p>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="auth.email" type="email" name="email" required #email="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }" class="form-control form-control-lg"
                placeholder="Ingrese su email" />
              <label class="form-label mt-2" for="form3Example3">Email</label>

              <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']" style="color: red;">
                  El email de usuario es obligatorio.
                </div>
                <div *ngIf="email.errors?.['email']" style="color: red;">
                  El formato de email no es válido.
                </div>
                <div *ngIf="email.errors?.['whitespace']" style="color: red;">
                  El email no debe tener espacios en blanco.
                </div>
              </div>
            </div>

            <div class="form-outline mb-1">
              <input [(ngModel)]="auth.password" type="password" name="password" required #password="ngModel"
                [ngModelOptions]="{ updateOn: 'blur' }" class="form-control form-control-lg"
                placeholder="Ingrese su contraseña" />
              <label class="form-label mt-2" for="form3Example4">Contraseña</label>

              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['required']" style="color: red;">
                  La contraseña es obligatoria.
                </div>
              </div>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button [disabled]="email.invalid || password.invalid" type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Iniciar sesión</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">No tienes cuenta? <a routerLink="/app/register"
                  class="link-danger">Register</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </section>

</body>


</html>