<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<app-nvar></app-nvar>

<body>
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Registrar Notificación</h3>
                    </div>
                    <div class="card-body p-4">
                        <form (ngSubmit)="onSubmit(notificacion) " #form="ngForm">
                            <div class="mb-4">
                                <label for="title" class="form-label">Título</label>
                                <input type="text" class="form-control" id="title" [(ngModel)]="notificacion.title"
                                    name="title" required #title="ngModel">
                            </div>
                            <div class="mb-4">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea class="form-control" id="description" rows="4"
                                    [(ngModel)]="notificacion.description" name="description" required
                                    #title="ngModel"></textarea>
                            </div>
                            <button [disabled]="!form.valid || form.pristine" type="submit"
                                class="btn btn-primary w-100">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>